<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lbcinternal.sensemble" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:parentActivityName=".activities.DetailActivity"
            android:theme="@style/AppTheme.Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DetailActivity" />
        </activity>
        <activity
            android:name=".activities.AddCommentActivity"
            android:label="@string/title_activity_add_comment"
            android:parentActivityName=".activities.CommentsActivity"
            android:theme="@style/AppTheme.ActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.CommentsActivity" />

        <activity
            android:name=".activities.RegisterActivity"
            android:noHistory="true"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbcinternal.sensemble.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.CheckEmailActivity"
            android:label="@string/title_activity_check_email"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbcinternal.sensemble.activities.LoginActivity" />
        </activity>
    </application>

</manifest>
